## Zen of Python
* 파이썬의 철학이 잘 담긴 Zen of Python 출력.
* import를 통해 파이썬의 라이브러리나 패키지 가져올 수 있음.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 존재.
* True나 False는 0과 1로도 표현 가능하나 명시적 표현을 위해 True와 False를 사용.

In [2]:
# True 출력
True

True

In [3]:
# False 출력
False

False

In [4]:
# True는 1과 같음을 표현.
# 파이썬에서는 같음을 비교 시 == 연산 사용
# == : 비교연산 / = : 할당연산
True == 1

True

In [5]:
# False는 0과 같음을 표현.
False == 0

True

In [6]:
# 하지만 True는 문자 1과는 다름.
# 1을 따옴표로 감싸면 문자열이 됨.
True == "1"

False

In [7]:
#  문자열 1과 True는 다름
True != "1"

True

In [8]:
# False도 마찬가지
False == "0"

False

In [10]:
# False는 문자열 0과 다름.
False != "0"

True

In [11]:
# and 연산으로 True 값 끼리 비교
# and는 모든 값이 True일때만 True.
True and True

True

In [12]:
# and는 조건 중 하나라도 False라면 False
True and False

False

In [13]:
# or는 하나만 True라도 True
True or False

True

## Number and String
* 숫자 1과 문자 "1"은 다름.
* 데이터 타입 표현 시 type을 통해 데이터 출력

In [14]:
# 숫자 1 출력
1

1

In [15]:
# 문자 1 출력
"1"

'1'

In [16]:
# 숫자 1의 데이터 타입 출력
type(1)

int

In [17]:
# 문자 1의 데이터 타입 출력
type("1")

str

In [18]:
# 문자 1과 숫자 1을 비교
1 == "1"

False

## Strings and Lists

In [19]:
# "Hello World!"를 출력
"Hello World!"

'Hello World!'

In [20]:
# 주소 "경기도 성남시 분당구"를 출력
"경기도 성남시 분당구"

'경기도 성남시 분당구'

# strings

In [22]:
# til 이라는 변수에 문자열 담기
til = "Today I Learned"
til

'Today I Learned'

In [23]:
# 모두 소문자로 만들기
til.lower()

'today i learned'

In [24]:
# 모두 대문자로 만들기
til.upper()

'TODAY I LEARNED'

# lists

In [25]:
# 비어있는 리스트 제작. lang이라는 변수에 담기.
lang = []
lang

[]

In [26]:
# python, java, c를 원소에 추가
lang.append("python")
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

In [27]:
# lang이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져오기
lang[0]

'python'

In [28]:
# 1번 인덱스 가져오기
lang[1]

'java'

In [30]:
# 마지막 인덱스 가져오기 / -1을 출력하면 가장 마지막 인덱스를 가져온다.
lang[2]
lang [-1]

'c'

# Control Flow
* 4. More Control Flow Tools - Python documentation
* 제어문 - 조건문, 반복문

In [31]:
# 반복문을 통해 리스트의 원소를 하나씩 출력
for i in lang:
  print(i)

python
java
c

In [32]:
# 위 코드에서 python일 때는 그대로 출력. 나머지 텍스트는 "기타"로 출력
# 출력 결과가 아래 순서로 나오도록 하기
# python
# 기타
# 기타
# 인덴트(들여쓰기) 중요!!
for i in lang:
  if i == "python":
    print("python")
  else:
    print("기타")

python
기타
기타

In [36]:
# 특정 횟수만큼 반복문 실행
count = len(lang)
for i in range(count):
  print(lang[i])

python
java
c

In [39]:
# for문과 if문 함께 사용
# 짝수일 때 python을 홀수일 때 java를 출력.
for i in range(1,10):
  if i % 2 == 0:
    print("python")
  else:
    print("java")

java
python
java
python
java
python
java
python
java

In [44]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있다.
for i, val in enumerate(lang):
  print(i, val)

0 python
1 java
2 c

# 문자열

In [45]:
# 주소를 address 변수에 담습니다
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 "
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 '

In [46]:
# 앞뒤 공백 제거
# 데이터 전처리 시 주로 사용
address = address.strip()
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [47]:
# 문자열 길이
len(address)

33

In [50]:
# 공백으로 문자열 분리
address_list=address.split()
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [51]:
# 리스트의 길이
len(address_list)

8

* 슬라이싱, startswith, in을 통해 문자열에 경기가 있는지 확인

In [52]:
# 슬라이싱으로 문자 가져오기
address[:2]

'경기'

In [53]:
# startswith를 사용하면 특정문자 포함 여부 확인 가능
address.startswith("경기")

True

In [55]:
# in을 사용하면 특정문자열 포함 여부 확인 가능
"경기" in address

True

# 리스트
* 문자열에서 쓰는 방법과 비슷하게 메소드 등을 사용 가능.
* 차이를 비교해서 볼 것.

In [58]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu라는 변수에 담기
gu = address_list[2]
gu

'분당구'

In [59]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 도로명을 가져와 street이라는 변수에 담기
street = address_list[3]
street

'불정로'

In [60]:
# 리스트의 마지막 가져오기
address_list[-1]

'16층'

In [61]:
# " ".join(리스트)를 사용하면 리스트를 공백 문자열 연결 가능
# 리스트로 분리된 문자열 다시 연결.
" ".join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [62]:
# in 사용 시 리스트에 해당 데이터 포함 여부 확인 가능
# "경기도"가 리스트에 포함되는지 확인
"경기도" in address_list

True

In [63]:
# in 사용 시 리스트에 해당 데이터 포함 여부 확인 가능
# "분당구"가 리스트에 포함되는지 확인
"분당구" in address_list

True