<a href="https://colab.research.google.com/github/SoheeKims/Study-Python/blob/main/%EA%B5%90%ED%86%B5%EC%82%AC%EA%B3%A0_%EC%9C%A0%ED%98%95%EB%B3%84_%EC%82%AC%EA%B3%A0%EA%B1%B4_21_01_23~.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 사고유형별 고통사고 통계

In [1]:
# pandas를 pd로 요약어 설정
import pandas as pd

In [17]:
# 코랩에서 구글드라이브 마운트하여 데이터 불러오기
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
# 내 드라이브 내의 파일을 불러올 때 경로 /content/drive/My Drive/를 앞에 붙여주기
# encoding='utf-8'이 안될 때는 encoding='CP949' 사용.
monthly_traffic = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DATA/2019 monthly teaffic.csv', encoding='CP949')
monthly_traffic.head()

  사고유형대분류 사고유형중분류 사고유형  월  사고건수  사망자수  중상자수  경상자수  부상신고자수
0    차대사람     횡단중  횡단중  1  1532    69   841   650      61
1    차대사람     횡단중  횡단중  2  1201    40   599   594      39
2    차대사람     횡단중  횡단중  3  1453    47   736   709      61
3    차대사람     횡단중  횡단중  4  1604    55   778   783      73
4    차대사람     횡단중  횡단중  5  1516    61   751   715      85

In [20]:
monthly_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고유형대분류  210 non-null    object
 1   사고유형중분류  210 non-null    object
 2   사고유형     210 non-null    object
 3   월        210 non-null    int64
 4   사고건수     210 non-null    int64
 5   사망자수     210 non-null    int64
 6   중상자수     210 non-null    int64
 7   경상자수     210 non-null    int64
 8   부상신고자수   210 non-null    int64
dtypes: int64(6), object(3)
memory usage: 14.9+ KB